.navbar-gamer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px 0;
  background: linear-gradient(90deg, #4e00c2, #8b2dff);
  box-shadow: 0 0 15px #6e00ffaa;
  position: sticky;
  top: 0;
  z-index: 50;
}

.nav-btn {
  padding: 12px 22px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background: #1d1d1d;
  border: 2px solid #6e00ff;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.nav-btn:hover {
  background: #6e00ff;
  color: #fff;
  box-shadow: 0 0 10px #b57dff;
}

.nav-activa {
  background: #b57dff;
  color: #15002b;
  border-color: #fff;
  box-shadow: 0 0 15px #fff;
}
